html{
    min-height: 100vh; 
   background-image: url("./assets/background.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   font-family: 'Libre Baskerville', sans-serif;
}

.title{
    
    color: white;
    text-align: center;
    font-size: 3vw;
    padding-top: 90px;
}


.underline{

    margin: auto;
    filter: invert(100);
    text-align: center;
}

.first img{
    margin-top: 40px;
    margin-left: 36.2%;
    width: 27%;
    border: 0.7em double #2e2419;
    background: #644624;
    padding: 0px;
    border-radius: 30px;
    

}

.second img{
    width: 27%;
    margin-top: 40px;
    margin-left: 36.2%;
    border: 0.7em double #2e2419;
    background: #644624;
    padding: 0px;
    border-radius: 30px;
}
.third img{
    width: 27%;
    margin-top: 40px;
    margin-left: 36.2%;
    border: 0.7em double #2e2419;
    background: #644624;
    padding: 0px;
    border-radius: 30px;
}
.fourth img{
    width: 27%;
    margin-top: 40px;
    margin-left: 36.2%;
    border: 0.7em double #2e2419;
    background: #644624;
    padding: 0px;
    border-radius: 30px;
    
}

.first img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 90px 90px   rgba(0, 240, 128, 0.877);
    
  }
.second img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 90px 90px   rgba(0, 183, 255, 0.877);
    
  }
.third img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 90px 90px   rgba(255, 181, 162, 0.877);
    
  }
.fourth img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 90px 90px 90px  rgba(255, 187, 40, 0.877);
    
  }
 