html{
    min-height: 100vh; 
   background-image: url("./assets/howl.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   font-family: 'Libre Baskerville', sans-serif;
   
}

.title{
    
    color: white;
    text-align: center;
    font-size: 95px;
    padding-top: 300px;
}
.underline{

    display: block;
    margin: auto;
    width: 100%;
    filter: invert(100);
    text-align: center;

}

.top_left{

    
}

